<?xml version='1.0' encoding='utf-8'?>
<widget id="com.five-tech.discount-tax-calculator" 
		version="0.0.1" xmlns="http://www.w3.org/ns/widgets" 
		xmlns:cdv="http://cordova.apache.org/ns/1.0">

    <name>Price Calculator</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="binoypatel14@gmail.com" href="http://five-tech.com/contact">
        Five-Tech (Binoy Patel)
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
